<ion-card>
  <ion-card-header>
    <ion-card-subtitle>-A.K</ion-card-subtitle>
  </ion-card-header>

  <div class="card-content">
    <ion-card-content>
      Good croissants, crispy, nice taste and greshly baked
    </ion-card-content>
    <div>
        <ion-button id="open-modal" color="secondary" shape="round">
          <ion-icon name="pencil"></ion-icon>
      </ion-button>
      <ion-button color="danger" shape="round">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-card>
