<ion-card>
  <ion-card-header>
    <ion-card-subtitle>-{{itemData?.customer}}</ion-card-subtitle>
  </ion-card-header>

  <div class="card-content">
    <ion-card-content>
      {{itemData?.feedback}}
    </ion-card-content>
    <div>
        <ion-button color="secondary" shape="round" (click)="onEdit()">
          <ion-icon name="pencil"></ion-icon>
      </ion-button>
      <ion-button color="danger" shape="round" (click)="onDelete()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-card>
