.banner {
  background-image: url(../../assets//images/website-banner.jpg);
  background-size: cover;
  background-position: center;
  top: 100px;
  height: 90%;
}

h2 {
  color: var(--color-core-blue-5, #55a1e0);
}
.product-section {
  width: 100%;
  height: 100%;
  // box-sizing: border-box;
  background-color: white;
  padding: 5px 50px;
}

.product-card ion-card {
  width: 300px;
  color: white;
  border-radius: 16px;
}

#product-title {
  font-size: 1.5rem;
}

p{
  font-size: 1.25rem;
  margin-bottom: 20px;
}

ion-grid {
  padding-bottom: 30px;
}

ion-col {
  cursor: pointer;
}

ion-card .product-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-card img {
  max-width: 250px;
  height: 200px;
  width: 250px;
}

ion-card-content h2 {
  color: black;
}

ion-card-content p {
  color: black;
}
