<app-navbar></app-navbar>

<ion-content>
  <div class="banner"></div>

  <div class="product-section">
    <div class="fruit-veg-section" id="fruit-veg">
      <h2>FRUITS & VEG</h2>
      <ion-grid>
        <ion-row class="ion-justify-content-around">
          <!-- Product Card -->
          <ion-col
            size="12"
            size-md="3"
            class="product-card"
            *ngFor="let product of filteredProductsFruitsVeg()"
          >
            <ion-card>
              <ion-card-content class="product-image">
                <img
                  [src]="'assets/images/product/' + product.photo"
                  alt="Product Image"
                  (click)="goToProduct(product.productId)"
                />
              </ion-card-content>
              <ion-card-content>
                <h2 id="product-title">{{product.productName}}</h2>
                <p>${{product.price}}</p>
                <ion-button
                  expand="block"
                  color="primary"
                  (click)="addProduct(product.productId, product.productName, 1, product.photo, product.price)"
                  >Add to Cart</ion-button
                >
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="bakery-section" id="bakery">
      <h2>BAKERY</h2>
      <ion-grid>
        <ion-row class="ion-justify-content-around">
          <ion-col
            size="12"
            size-md="3"
            class="product-card"
            *ngFor="let product of filteredProductsBakery()"
          >
            <ion-card>
              <ion-card-content class="product-image">
                <img
                  [src]="'assets/images/product/' + product.photo"
                  alt="Product Image"
                  (click)="goToProduct(product.productId)"
                />
              </ion-card-content>
              <ion-card-content>
                <h2 id="product-title">{{product.productName}}</h2>
                <p>${{product.price}}</p>
                <ion-button expand="block" color="primary"
                  >Add to Cart</ion-button
                >
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="beverages-section" id="beverage">
      <h2>BEVERAGES</h2>
      <ion-grid>
        <ion-row class="ion-justify-content-around">
          <ion-col
            size="12"
            size-md="3"
            class="product-card"
            *ngFor="let product of filteredProductsBeverages()"
          >
            <ion-card>
              <ion-card-content class="product-image">
                <img
                  [src]="'assets/images/product/' + product.photo"
                  alt="Product Image"
                  (click)="goToProduct(product.productId)"
                />
              </ion-card-content>
              <ion-card-content>
                <h2 id="product-title">{{product.productName}}</h2>
                <p>${{product.price}}</p>
                <ion-button expand="block" color="primary"
                  >Add to Cart</ion-button
                >
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
