<app-navbar></app-navbar>

<ion-content>
  <div class="banner"></div>

  <!-- Bakery Cards -->
  <div class="product-section">
    <h2>FRUITS & VEG</h2>
    
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <!-- Product Card -->
        <ion-col size="12" size-md="4" class="product-card">
          <ion-card>
            <ion-card-content class="product-image">
              <img
                src="../../../assets/images/product/tomatoes.jpg"
                alt="Product Image"
              />
            </ion-card-content>
            <ion-card-content>
              <h2>Tomatoes</h2>
              <p>$25</p>
              <ion-button expand="block" color="primary"
                >Add to Cart</ion-button
              >
            </ion-card-content>
          </ion-card>
        </ion-col>

        <!-- Repeat for more products -->
        <ion-col size="12" size-md="4" class="product-card">
          <ion-card>
            <ion-card-content class="product-image">
              <img
                src="../../../assets/images/product/mangoes.jpg"
                alt="Product Image"
              />
            </ion-card-content>
            <ion-card-content>
              <h2>Mangoes</h2>
              <p>$25</p>
              <ion-button expand="block" color="primary"
                >Add to Cart</ion-button
              >
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-md="4" class="product-card">
          <ion-card>
            <ion-card-content class="product-image">
              <img
                src="../../../assets/images/product/lettuce.jpg"
                alt="Product Image"
              />
            </ion-card-content>
            <ion-card-content>
              <h2>Lettuce</h2>
              <p>$25</p>
              <ion-button expand="block" color="primary"
                >Add to Cart</ion-button
              >
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
